/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f0f6; /* Светло-розовый фон */
    color: #2a2a2a;
}

/* Контейнер с ограничением ширины */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Заголовки */
h1, h2 {
    color: #4e6c91; /* Синий цвет для заголовков */
}

/* Секция Hero */
.hero {
    background: url('hero-image.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 0;
    background-color: #f8f0f6;
}

.hero h1 {
    font-size: 4em;
    margin-bottom: 10px;
    color: #4e6c91;   
}
.hero p {
    font-size: 2em;
    margin: 30px;
    color: #4e6c91;   
}

.cta-button {
    background-color: #ff80b3; /* Светло-розовая кнопка */
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ff66a3; /* Более темный розовый при наведении */
}

/* Секции */
.section {
    padding: 50px 0;
    background-color: white;
    color: #4e6c91; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.about {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.carousel-section .carousel-container {
    width: 70%;
}

.collection .product-gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


.product-card,
.carousel-container .carousel-item img {
    width: 350px; /* Одинаковая ширина */
    height: auto; /* Пропорциональная высота */
    margin: auto; /* Центрирование */
    border: 1px solid #ddd; /* Граница для соответствия стилю */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
}

/* Дополнительные отступы и выравнивание для карточки товара */
.product-card {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info {
    text-align: center;
    margin-top: 10px;
}

.product-info h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-info .price {
    font-size: 1rem;
    font-weight: bold;
    color: #ff80b3;
    margin: 10px 0;
}

.product-info .btn {
    padding: 10px 20px;
    background-color: #ff80b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.product-info .btn:hover {
    background-color: #3b5578;
}

/* Изображения в карточке товара */
.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
/* Форма подписки */
.newsletter input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ddd;
    margin-right: 10px;
    border-radius: 5px;
}

.newsletter button {
    background-color: #ff80b3; /* Светло-розовая кнопка */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #ff66a3; /* Темный розовый при наведении */
}

/* Подвал */
.footer {
    background-color: #4e6c91; /* Синий цвет подвала */
    color: white;
    text-align: center;
    padding: 20px;
}

.footer .socials a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.footer .socials a:hover {
    color: #ff80b3; /* Светло-розовый при наведении */
}
 /* Стиль для бегущей строки */
 .marquee {
    background-color: #4e6c91; /* Синий фон для бегущей строки */
    color: white;
    padding: 5px 0;
    font-size: 35px; /* Увеличиваем размер текста */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.marquee p {
    display: inline-block;
    animation: marquee 6s linear infinite; /* Установите время анимации */
}

.marquee a {
    font-size: 50%; /* Устанавливаем размер текста на 50% от родительского элемента */
    color: white;
    text-decoration: none;
}

/* Определение анимации */
@keyframes marquee {
    0% {
        transform: translateX(100%); /* Начинаем справа за пределами экрана */
    }
    100% {
        transform: translateX(-100%); /* Заканчиваем слева за пределами экрана */
    }
}
.carousel-container {
    width: 40%; /* Ширина слайдера 40% */
    margin: 0 auto; /* Выравнивание по центру */
}

.carousel-item img {
    width: 100%; /* Изображения будут растягиваться по ширине контейнера */
    height: auto; /* Автоматическая высота */
}

.first_img {
    margin: auto;
    width: 250px;
}

/* Стили для слайдера */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.product-card {
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.product-slider {
    position: relative;
    overflow: hidden;
}

.product-info {
    padding: 15px;
    text-align: center;
}

.product-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.product-info p {
    font-size: 1rem;
    color: #777;
}

.product-info .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4e6c91;
    margin: 10px 0;
}

.product-info .btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff80b3; 
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.product-info .btn:hover {
    background-color: #ff9fda;
}

.carousel-inner img {
    width: 100%;
    height: auto;
} 

.product-form {
    width: 60%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-input,
.form-textarea,
.form-file {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-file {
    padding: 5px; /* Уменьшение отступа для поля выбора файла */
}

.submit-button {
    background-color: #ff80b3; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #f69cc0; 
}

.products_admin {
    margin-top: 20px;
}

.prod1 {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.admin_css {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.remove-btn {
    background-color: #ff80b3; /* Your desired background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 5px 10px; /* Padding for the button */
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 14px; /* Font size */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.remove-btn:hover {
    background-color: #ff4d94; /* Darker shade on hover */
}