<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Стильная одежда от нового бренда Garment. Лучшие материалы, стильный дизайн, уникальные коллекции.">
    <title>Garment</title>
    <!-- Подключение Bootstrap -->
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEJq9mk6f+R2k4fjB7n7MqeCz8Bz8F8q4lLZXdrbppnk6IOeZT0tZTtMfneO7" crossorigin="anonymous">
</head>
<body>
    <!-- Бегущая строка -->
    <div class="marquee">
        <p>Следите за нами в Телеграм! <a href="https://t.me/garmmentclothes">Присоединиться к нам</a></p>
    </div>

    <header class="hero">
        <div class="container">
            <img src="../static/image/5343555653077167009.png" alt="" class="first_img">
            <h1>Garment</h1>
            <p>Новый бренд  современной одежды.</p>
            <a href="https://t.me/garmmentclothes" class="cta-button">Узнать больше</a>
        </div>
    </header>
    
    <section id="about-us" class="section about">
        <div class="container">
            <h2>О бренде</h2>
            <p>Garment - это бренд, который делает ставку на стиль и комфорт.</p>
        </div>
    </section>

    <section id="product" class="section product">
        <h3>Ассортимент</h3>
        {% for product in products %}
            <div class="product-card">
                <div id="productCarousel{{ loop.index }}" class="carousel slide product-slider" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for img in product['images'] %}
                            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                <img src="{{ url_for('static', filename='image/' ~ img) }}" class="d-block w-100" alt="Фото {{ loop.index }}">
                            </div>
                        {% endfor %}
                    </div>
    
                    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel{{ loop.index }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel{{ loop.index }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
    
                <div>
                    <div class="product-info">
                        <h3>{{ product['name'] }}</h3>
                        <p>{{ product['description'] }}</p>
                        <div class="price">{{ product['price'] }}р</div>
                        <form action="{{ url_for('add_to_cart', product_id=loop.index0) }}" method="post">
                            <button type="submit" class="btn">Добавить в корзину</button>
                        </form>
                        <!-- <a href="https://t.me/garmmentclothes" class="btn"></a> -->
                    </div>  
                </div>
            </div>
        {% endfor %}
    </section>
    
    

    <section class="section carousel-section">
        <h3>SOLD OUT</h3>
        {% if archived_products %}
            {% for product in archived_products %}
                <div class="product-card">
                    <div id="archiveCarousel" class="carousel slide product-slider" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for img in product['images'] %}
                                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                    <img src="{{ url_for('static', filename='image/' ~ img) }}" class="d-block w-100" alt="Фото {{ loop.index }}">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#archiveCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Предыдущий</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#archiveCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>

                        <div class="product-info">
                            <h3>{{ product['name'] }}</h3>
                            <p>{{ product['description'] }}</p>
                            <div class="price">{{ product['price'] }} р</div>
                            <a href="https://t.me/garmmentclothes" class="btn">Оформить предзаказ</a>
                        </div>
                </div>
            {% endfor %}

        {% else %}
            <p>Здесь будут товары, которые мы полностью распродали.<br>Все товары ограничены. Успейте заказывать!</p>
        {% endif %}
    </section>     

    <section id="cart" class="section cart">
        <h3>Корзина</h3>
        {% if cart %}
            <div>
                {% set index = 0 %}  {# Initialize the index counter #}
                {% for item in cart %}
                    <div class="products_admin">
                        <div class="prod1">
                            <h2>Товар: {{ item['name'] }}</h2>
                            <p>Price: {{ item['price'] }} р</p>
                            {% if item['images'] %}
                                {% for img in item['images'] %}
                                    <img src="{{ url_for('static', filename='image/' ~ img) }}" alt="{{ img }}" style="width: 100px;">
                                {% endfor %}
                            {% endif %}
                            <!-- Remove from Cart Button -->
                            <form action="{{ url_for('remove_from_cart', item_index=index) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger remove-btn">Удалить</button>
                            </form>
                        </div>
                    </div>
                    {% set index = index + 1 %}  {# Increment the index counter #}
                {% endfor %}
            </div>
            <!-- Button to proceed to checkout -->
            <form action="{{ url_for('checkout') }}" method="GET" style="margin-top: 20px;">
                <button type="submit" class="btn">Перейти к оплате</button>
            </form>
        {% else %}
            <p>Ваша корзина пуста.</p>
        {% endif %}
        <a href="/">Вернуться к покупкам</a>
    </section>
    
    
    <footer class="footer">
        <div class="container">
            <div class="socials">
                <a href="https://www.instagram.com/garmmentclothes/profilecard/?igsh=ajI2eDhueHFybWdo">Instagram</a>
                <a href="https://youtube.com/@garmmentclothes?si=dwRHmJjIIBhXEXpb">Youtube</a>
                <a href="https://t.me/garmmentclothes">Telegram</a>
            </div>
            <p>&copy; 2024 Garment. All rights reselved.</p>
        </div>
    </footer>

    <!-- Подключение Bootstrap и JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>
